 #spertaor-logo{
       width: 100%;
       height: 250px;
     /* background-color: black;*/
      position: fixed;
      top: 340px;
      left: 0px;
      z-index: 1;
    }
    .logo-img{
      width: 100%;
      height: auto;
    }
    .text-div{
      height:260px;
      background-color:#2df3fe;
      position:absolute;
      right:0;
      opacity:0.2;
      text-align: center;
      padding-top: 35px;
      
    }
    .logo-div{
      padding-left: 0;
      position: absolute;
      left: 0
    }
    .text-div span{
      color:#ffffff;
      font-size:125px;
     font-family: 'Source Sans Pro', sans-serif;
    }
   .player .title{
    display: none !important;
   }
   .logodivhide{
    display:none;
   }
   .logodivshow{
    display:block;
   }